<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password</title>
</head>
<body style="font-family: Arial, sans-serif; text-align: center; background-color: #f2f2f2; padding-top: 50px;">

    <h2 style="color: #333;">
        <span style="color: #007BFF;">Reset Your Password</span><br>
    </h2>

    <!-- Flash Messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div style="text-align: center; color: #d9534f; background-color: #f2dede; padding: 10px 0; margin-bottom: 200px;">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <form method="POST" action="/forgotpassword" 
          style="background-color: #fff; display: inline-block; padding: 30px; border-radius: 10px; 
                 box-shadow: 0 0 10px rgba(0,0,0,0.1); text-align: left;margin-bottom: 250px;">

        <div style="margin: 10px 0;">
            <label for="username" style="display: inline-block; width: 150px;">Username (Email):</label>
            <input type="email" name="username" required 
                   style="padding: 8px; width: 250px; border: 1px solid #ccc; border-radius: 5px;">
        </div>

        <div style="margin: 10px 0;">
            <label for="phone" style="display: inline-block; width: 150px;">Phone Number:</label>
            <input type="text" name="phone" pattern="\d{10}" maxlength="10" minlength="10" required
                   title="Phone number must be exactly 10 digits"
                   style="padding: 8px; width: 250px; border: 1px solid #ccc; border-radius: 5px;">
        </div>

        <div style="margin: 10px 0;">
            <label for="password" style="display: inline-block; width: 150px;">New Password:</label>
            <input type="text" name="password" required
                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@])[A-Za-z\d@]{8,}"
                    title="At least 8 characters, 1 uppercase, 1 lowercase, 1 number, and only @ as special character"
                   style="padding: 8px; width: 250px; border: 1px solid #ccc; border-radius: 5px;">
        </div>

        <div style="text-align: center; margin-top: 20px;">
            <input type="submit" value="Reset Password" 
                   style="padding: 10px 20px; background-color: #007BFF; color: white; 
                          border: none; border-radius: 5px; cursor: pointer;">
        </div>

        <p style="text-align: center; margin-top: 15px;">
            <a href="/register" style="text-decoration: none; color: #007BFF;">Create an Account</a>
        </p>

        <p style="text-align: center; margin-top: 15px;">
            <a href="/login" style="text-decoration: none; color: #007BFF;">Back to Login</a>
        </p>


    </form>

</body>
</html>
